In [74]:
import numpy as np
import pandas as pd
import sklearn
import scipy
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report,accuracy_score
from sklearn.ensemble import IsolationForest
from sklearn.neighbors import LocalOutlierFactor
from sklearn.svm import OneClassSVM
from pylab import rcParams
#from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn import preprocessing
data = pd.read_csv(r'/home/supriya/pathcontext/vectorization_work/csv_files/car.csv',sep=',')
print(data)
#data.head()

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [75]:
#Create independent and Dependent Features
le = preprocessing.LabelEncoder()
balance_data = data.apply(le.fit_transform)
columns = balance_data.columns.tolist()
# Filter the columns to remove data we do not want 
columns = [c for c in columns if c not in ["class"]]

#X = balance_data.values[:, :-1]
#Y = balance_data.values[:,6]
target = "class"
# Define a random state 
state = np.random.RandomState(10)
X = balance_data[columns]
Y = balance_data[target]

print(Y)
# Print the shapes of X & Y
print(X.shape)
print(Y.shape)
X.head()

0       2
1       2
2       2
3       2
4       2
       ..
1723    1
1724    3
1725    2
1726    1
1727    3
Name: class, Length: 1728, dtype: int64
(1728, 6)
(1728,)

   buying  maint  doors  persons  lug_boot  safety
0       3      3      0        0         2       1
1       3      3      0        0         2       2
2       3      3      0        0         2       0
3       3      3      0        0         1       1
4       3      3      0        0         1       2

In [76]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

X_train,X_test, y_train,y_test = train_test_split(X,Y,test_size=0.3,random_state=10)

In [72]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [73]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9267822736030829

col_0   0   1    2   3
class
0      84   1   17   0
1       8  13    0   0
2       3   0  368   0
3       4   2    3  16

In [77]:
from imblearn.over_sampling import SMOTE

In [78]:

smk = SMOTE()
X_res,y_res=smk.fit_sample(X_train.astype('float'),y_train)

In [79]:
print(X_res.shape,y_res.shape)
#print(X_res)
#print(y_res)
from collections import Counter
print('Original dataset shape {}'.format(Counter(y_train)))
print('Resampled dataset shape {}'.format(Counter(y_res)))

(3356, 6) (3356,)
Original dataset shape Counter({2: 839, 0: 282, 1: 48, 3: 40})
Resampled dataset shape Counter({0: 839, 2: 839, 3: 839, 1: 839})

In [80]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_res,y_res)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9325626204238922

col_0   0   1    2   3
class
0      85   6    9   2
1       2  19    0   0
2      12   1  357   1
3       0   2    0  23